<div id="sidebar">
    <div class="sidebar-wrapper">
        <ul class="sidebar-list">
            <li class="sidebar-item row" routerLink="daily-list" routerLinkActive="active">
                <img src="./assets/Icons/to-do-list.png" width="auto" height="100%" style="margin-right: 20px;"/>
                <p>Daily To-Do Lists</p>
            </li>
            <li class="sidebar-item row" routerLink="scheduled-list" routerLinkActive="active">
                <img src="./assets/Icons/schedule.png" width="auto" height="100%" style="margin-right: 20px;"/>
                <p>Scheduled To-Do Lists</p>
            </li>
            <li class="sidebar-item row" routerLink="trash" routerLinkActive="active">
                <img src="./assets/Icons/trash.png" width="auto" height="100%" style="margin-right: 20px;"/>
                <p>Trash</p>
            </li>
        </ul>
    </div>
</div>
