<div>
    <!-- Create New List -->
    <button style="float: right;" class="btn btn-outline-warning" (click)="onAdding()">Add a Note...</button>
    <br>
    <div class="text-center" *ngIf="notes.length == 0">
        <br>
        <br>
        <h6>No Notes Yet</h6>
    </div>
    <!-- Display Notes -->
    <div *ngIf="notes.length > 0">
        <h5 class="type-list-header">Notes</h5>
        <div class="row">
            <div class="col-md-6 col-sm-12" *ngFor="let note of notes">
                <div class="card">
                    <div class="card-header">
                        {{note.creationDate | date}} 
                        <!-- <img [src]="note.isReminder ? alarmOn : alarmOff" alt="alarm" style="float: right;height: auto; width: 30px;"> -->
                    </div>
                    <div [id]="note.id" class="card-body" style="height: 200px; overflow-y: visible;">
                        <textarea class="noteText" (keyup)="writeNote(note.id, note.noteText)" [(ngModel)]="note.noteText" name="noteText" style="height: 100%; width: 100%; border: none;"></textarea>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <button class="card-footer-btn" (click)="onDeleteNote(note.id)">
                                <img src="assets/Icons/trash.png" width="20px" height="auto"/>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>