<div style="margin-top: 100px; margin-bottom: 100px;" class="container">
    <h4>El Nota: The Ultimate Note-Taking App</h4>
    <div class="text-center">
        <img src="assets/elnota.png" width="400px" height="auto">
    </div>
    <p>
        Do you need a simple and effective way to organize your notes, tasks, and to-do lists? 
        Do you want to access your lists from any device and sync them across all your platforms? 
    </p>
    <p>
        If you answered yes to any of these questions, 
        then El Nota is the app for you. El Nota is a web application 
        that lets you create, edit, and manage your notes/to-do lists with ease.
    </p>
    <p>
        El Nota is more than just a note-taking app. 
        It’s a productivity tool that helps you stay on top of your personal and professional projects. 
        Whether you need to jot down a shopping list, prepare a presentation, plan a trip, or write a journal entry, 
        El Nota can help you do it all.
    </p>
    <p>
        El Nota is free to use and works on any web browser. 
        You can also download the <a href="https://mostafa-shaban-mohamed.github.io/Mostafa-Shaban-Official/app-store">El Nota app</a> for your Android device. 
        To get started with El Nota, just create a new account.
    </p>
    <p>
        El Nota is the ultimate note-taking app for anyone who wants to keep track of their life. 
        Try it today and see how it can make your life easier and more organized.
    </p>
    <div class="text-center">
        <a routerLink="register" class="btn btn-outline-warning">Create New Account</a>
    </div>
</div>
