<div style="margin-top: 100px; margin-bottom: 100px;">
    <br>
    <div class="typewriter">
        <h4>El Nota: The Smart Way to Organize Your Thoughts.</h4>
    </div>
    <div class="small-screen text-center">
        <h5><strong>Take Note, Take Action.</strong></h5>
    </div>

    <div class="text-center">
        <img src="assets/elnota.png" width="350px" height="auto">
    </div>
    <div class="text-center">
        <a routerLink="/register" class="btn btn-outline-warning">Create New Account</a>
    </div>
    <hr>
    <table class="table-responsive">
        <tr>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="table-square">
                    <p>
                        Do you need a simple and effective way to organize your notes, tasks, and to-do lists? 
                        Do you want to access your lists from any device and sync them across all your platforms?
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="table-square">
                    <p>
                        If you answered yes to any of these questions, 
                        then El Nota is the answer for you. El Nota is a web application 
                        that lets you create, edit, and manage your notes / to-do lists with ease.
                    </p>
                </div>
            </td>
            <td></td>
        </tr>
        
        <tr>
            <td></td>
            <td>
                <div class="table-square">
                    <p>
                        El Nota is more than just a note-taking / list-making web app. 
                        It's a productivity tool that helps you stay on top of your personal and professional projects. 
                        Whether you need to jot down a shopping list, prepare a presentation, plan a trip, or write a journal entry, 
                        El Nota can help you do it all.
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="table-square">
                    <p>
                        El Nota is the ultimate note-taking web app for anyone who wants to keep track of their life. 
                        Try it today and see how it can make your life easier and more organized.
                    </p>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
    <!-- <h4>El Nota: The Smart Way to Organize Your Thoughts</h4>
    <div class="text-center">
        <img src="assets/elnota.png" width="400px" height="auto">
    </div>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div [ngClass]="i == 0 ? 'carousel-item active' : 'carousel-item'" *ngFor="let slide of slides, index as i">
                <div class="card col-md-4" style="margin: 10px 33%;">
                    <div class="card-header">
                    </div>
                    <div class="card-body" style="overflow: hidden; text-align: center;">
                        <p class="card-text justify-content-center">{{ slide }}</p>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <p>
        Do you need a simple and effective way to organize your notes, tasks, and to-do lists? 
        Do you want to access your lists from any device and sync them across all your platforms? 
    </p>
    <p>
        If you answered yes to any of these questions, 
        then El Nota is the app for you. El Nota is a web application 
        that lets you create, edit, and manage your notes/to-do lists with ease.
    </p>
    <p>
        El Nota is more than just a note-taking app. 
        It’s a productivity tool that helps you stay on top of your personal and professional projects. 
        Whether you need to jot down a shopping list, prepare a presentation, plan a trip, or write a journal entry, 
        El Nota can help you do it all.
    </p>
    <p>
        El Nota is free to use and works on any web browser. 
        You can also download the <a href="https://mostafa-shaban-mohamed.github.io/Mostafa-Shaban-Official/app-store">El Nota app</a> for your Android device. 
        To get started with El Nota, just create a new account.
    </p>
    <p>
        El Nota is the ultimate note-taking app for anyone who wants to keep track of their life. 
        Try it today and see how it can make your life easier and more organized.
    </p> -->
    <!-- <div class="text-center">
        <a routerLink="register" class="btn btn-outline-warning">Create New Account</a>
    </div> -->
</div>
